
                    	{exp:query sql="
							SELECT 
							field_id_4 as status_owner,
							field_id_5 as question,
							field_id_8 as image,
							field_id_9 as audio,
							field_id_10 as video
							FROM 
							exp_channel_data
							WHERE
							channel_id='2' AND
							field_id_4='{embed:owner_status}'
							Limit 1
        		        "}
        		        
        		        
        		        		{exp:user:users member_id='{embed:id_member}'}
        		        		<li>
	        		        		
        		            	 <a href="{path='includes/view-status'}/{member_id}/{embed:owner_status}" data-member="{member_id}" data-related-status="{status_owner}" rel="ignore">
        		            	     <div class="user-img"><img src="{photo_url}{photo_filename}" width="40"></div>
        		            	     <p>
        		            	     <span>{screen_name}</span>
        		            	     {if image=='' AND audio=='' AND video=='' AND question==''}
        		            	     commented on one of your statuses
        		            	     {/if}
        		            	     
        		            	     {if image!=''}
	        		            	     commented on one of your photos
	        		            	     {if question!='0'}
	        		            	     	and replied to your questions
	        		            	     {/if}
        		            	     {/if}
        		            	     
        		            	     {if audio!=''}
        		            	     	commented on one of your audio clips
        		            	     	{if question!='0'}
	        		            	     	and replied to your questions
	        		            	    {/if}
        		            	     {/if}
        		            	     
        		            	     {if video!=''}
        		            	     	commented on one of your videos
        		            	     	{if question!='0'}
	        		            	     	and replied to your questions
	        		            	    {/if}
        		            	     {/if}
        		            	     
        		            	     {if question!='0' AND image=='' AND audio=='' AND video==''}
        		            	     replied to one of your questions
        		            	     {/if}
        		            	     
        		            	     <br>
        		            	     <!--<small>{!--entry_date format='%F %j, %Y'--} 
        		            	     <span></span>
        		            	     </small>-->
        		            	     </p>
        		            	</a>
        		            	
        		            	</li>
        		            	{/exp:user:users} 
        		        
        		        {/exp:query}