{if embed:summary=='yes'}

{exp:channel:entries channel='wall_posts' search:status_owner='={embed:id_status}' orderby='date' sort='desc' limit='1' dynamic='off'}
{if no_results}
    <article class="most-recent">        
    <p>Be the first to leave a comment</p>
    </article>
{/if}

<article class="most-recent">
{exp:user:stats member_id='{author_id}'}
    <h5><a href="{path='profile'}/{member_id}">{screen_name}</a></h5>
    {exp:ce_str:ing truncate="50"}
    <p>{thepost}</p>
    {/exp:ce_str:ing}
<!--     <span>{entry_date format="%F %j, %Y at %h:%i %a"}</span> -->
{/exp:user:stats}
</article> <!-- .most-recent -->
{/exp:channel:entries}

{if:elseif embed:recent=="yes"}

{exp:reverse_these}
{exp:channel:entries channel='wall_posts' search:status_owner='={embed:id_status}' orderby='entry_id' sort='desc' dynamic='off' limit='3'}
{reverse_these_item}
<article class="comment">
	{exp:user:stats}
        <div class="user-img">
            <a href="{path='profile'}/{member_id}">
    	    	<img src="{photo_url}?<?php echo time(); ?>">
            </a>
        </div> <!-- .user-img -->
        <div class="comment-text">
            <h4><a href="{path='profile'}/{member_id}">{screen_name}&nbsp;</a></h4>
            {exp:ce_str:ing php}
            <?php  if  ({exp:ce_str:ing:count strlen}{thepost}{/exp:ce_str:ing:count} > 600) { ?>
            <p>
                {exp:ce_str:ing:content truncate="252" ending="..." exact="yes"}
                    {thepost}
                {/exp:ce_str:ing:content}
                <a href="#" class="see-more">See more...</a>
                <span class="overflow">{thepost}</span>
            </p>
            <?php } else { ?>
            <p>
                {thepost}
            </p>
            <?php } ?>
            {/exp:ce_str:ing}
            <span>{entry_date format="%F %j at %h:%i %a"}</span>
        </div> <!-- .comment-text -->	
    {/exp:user:stats}
</article>
{/reverse_these_item}
{/exp:channel:entries}
{/exp:reverse_these}

{if:else}

{exp:reverse_these}
{exp:channel:entries channel='wall_posts' search:status_owner='={embed:id_status}' orderby='date' sort='desc' dynamic='off' offset="3"}
{reverse_these_item}
<article class="comment">
	{exp:user:stats}
        <div class="user-img">
            <a href="{path='profile'}/{member_id}">
    	    	<img src="{photo_url}?<?php echo time(); ?>">
            </a>
        </div> <!-- .user-img -->
        <div class="comment-text">
            <h4><a href="{path='profile'}/{member_id}">{screen_name}&nbsp;</a></h4>
            {exp:ce_str:ing php}
            <?php  if  ({exp:ce_str:ing:count strlen}{thepost}{/exp:ce_str:ing:count} > 600) { ?>
            <p>
                {exp:ce_str:ing:content truncate="252" ending="..." exact="yes"}
                    {thepost}
                {/exp:ce_str:ing:content}
                <a href="#" class="see-more">See more...</a>
                <span class="overflow">{thepost}</span>
            </p>
            <?php } else { ?>
            <p>
                {thepost}
            </p>
            <?php } ?>
            {/exp:ce_str:ing}
            <span>{entry_date format="%F %j at %h:%i %a"}</span>
        </div> <!-- .comment-text -->	
    {/exp:user:stats}
</article>
{/reverse_these_item}
{/exp:channel:entries}
{/exp:reverse_these}
{/if}