{exp:query sql="SELECT exp_channel_titles.author_id as author_status, exp_channel_data.field_id_5 as question, exp_channel_data.field_id_8 as image, exp_channel_data.field_id_9 as audio, exp_channel_data.field_id_10 as video, exp_channel_titles.entry_date as date_of_entry FROM exp_channel_data, exp_channel_titles WHERE exp_channel_data.entry_id=exp_channel_titles.entry_id AND exp_channel_data.field_id_4='{embed:field_id_2}' Limit 1"}		      

{if embed:field_id_13!=user_member_logged_in}
	{exp:user:stats member_id='{embed:field_id_13}' dynamic='off'}
	<li>
		<a href="{path='includes/view-status'}/{author_status}/{embed:field_id_2}" data-member="{logged_in_member_id}" data-related-status="{status_owner}">
			<div class="user-img"><img src="{photo_url}{photo_filename}"></div>
			<p>
			<span>{screen_name}</span>
			        		            	     
			{if image=='' AND audio=='' AND video=='' AND question=='0'}
			commented on one of your posts
			{/if}
			        		            	     
			{if image!=''}
			commented on one of your photos
			{if question!='0'}
			and replied to one of your questionsß
			{/if}
			{/if}
			        		            	     
			{if audio!=''}
			commented on one of your audio clips
			{if question!='0'}
			and replied to one of your questions
			{/if}
			{/if}
			        		            	     
			{if video!=''}
			commented on one of your videos
			{if question!='0'}
			and replied to one of your questions
			{/if}
			{/if}
			        		            	     
			{if question!='0' AND image=='' AND audio=='' AND video==''}
			replied to one of your questions
			{/if}
			
			</p>
		</a>    		            	
	</li>
	{/exp:user:stats}
{/if}	
{/exp:query}
