
                </div> <!-- #main -->
            </div> <!-- #page -->

            <ul id="actions" class="actions drop f-dropdown" data-dropdown-content>
                    <li><h4>Actions</h4></li>
                    {exp:channel:entries channel='actions' category='not 1' dynamic="off"}
                    <li><a href="{link}" rel="ignore"><p>{title}<br><small>{entry_date format='%F %j, %Y'} <span>location?</span></small></p></a></li>
                    {/exp:channel:entries}
                </ul>
            <ul id="notifications" class="notifications drop f-dropdown" data-dropdown-content>
                    <li><h4>Notifications</h4></li>
                    {exp:user:stats}  
        		        {exp:query sql="
        		        SELECT 
        		        exp_channel_data.field_id_1 as comment, 
        		        exp_channel_data.field_id_2 as status_owner, 
        		        exp_channel_data.field_id_13 as comment_owner,
        		        exp_channel_titles.entry_date 
        		        FROM 
        		        exp_channel_data, 
        		        exp_friends_status, 
        		        exp_channel_titles
        		        WHERE 
        		        exp_channel_data.field_id_2=exp_friends_status.status_id AND
        		        exp_channel_data.entry_id=exp_channel_titles.entry_id AND 
        		        exp_friends_status.member_id='{member_id}'
        		        ORDER BY entry_date DESC limit 5
        		        "}
        		        		{exp:user:users member_id='{comment_owner}'}
        		        		<li>
            		            	 <a href="{path='includes/view-status'}/{member_id}/{status_owner}" class="clearfix" data-member="{member_id}" data-related-status="{status_owner}" rel="ignore">
            		            	     <div class="user-img"><img src="{photo_url}{photo_filename}"></div>
            		            	     <p><span>{screen_name}</span> {comment}<br><small>{entry_date format='%F %j, %Y'} <span></span></small></p>
            		            	 </a>
        		            	</li>
        		            	{/exp:user:users}
        
        	            {/exp:query}
                    {/exp:user:stats}
                </ul>
        </div> <!-- #outer-wrap -->
        
        <script src="js/jquery.js"></script>
        <script src="js/vendor/foundation/foundation.js"></script>

        <script src="js/vendor/foundation/foundation.forms.js"></script>
        <script src="js/vendor/foundation/foundation.dropdown.js"></script>
        <script src="js/vendor/foundation/foundation.section.js"></script>        
        <script src="js/vendor/foundation/foundation.joyride.js"></script>
                
        <script src="js/vendor/jwplayer/jwplayer.js"></script>
        <script src="js/vendor/fancybox/jquery.fancybox.min.js"></script>
        <script src="js/vendor/fancybox/jquery.fancybox-buttons-ck.js"></script>
        
        <script>
            $(document).foundation()
        </script>        
        <script src="js/main.min.js"></script>

        {if segment_2=='step-two' || segment_2=='step-three'}
        <script>
//            $('#actions').detach()
        </script>
        {/if}

    </body>
</html>