
                </div> <!-- #main -->
            </div> <!-- #page -->

        </div> <!-- #outer-wrap -->
        
        <ul id="actions" class="actions drop f-dropdown" data-dropdown-content>
            <li><h4>Actions</h4></li>
            {exp:channel:entries channel='actions' category='not 1' dynamic="off"}
            	{embed="includes/actions_pendent" entry_id="{entry_id}" title="{title}" entry_date="{entry_date format='%F %j, %Y'}"}
            {/exp:channel:entries}
        </ul> <!-- .actions -->
        <ul id="notifications" class="notifications drop f-dropdown" data-dropdown-content>
            <li><h4>Notifications</h4></li>

        		    {exp:query sql="SELECT field_id_2, field_id_13 FROM exp_channel_data WHERE field_id_13!='{id_member}' order by entry_id DESC limit 5 "}
		        		{embed="includes/comment_individual_link" field_id_2='{field_id_2}' field_id_13='{field_id_13}'}
		        	{/exp:query}

        </ul> <!-- .notifications -->
                
        <script type="text/javascript" src="{site_url}js/jquery.js?<?php echo time(); ?>"></script>
        
        <script type="text/javascript" src="{site_url}js/vendor/foundation/foundation.js?<?php echo time(); ?>"></script>

        <script type="text/javascript" src="{site_url}js/vendor/foundation/foundation.forms.js?<?php echo time(); ?>"></script>
        <script type="text/javascript" src="{site_url}js/vendor/foundation/foundation.dropdown.js?<?php echo time(); ?>"></script>
        <script type="text/javascript" src="{site_url}js/vendor/foundation/foundation.section.js?<?php echo time(); ?>"></script>        
        <script type="text/javascript" src="{site_url}js/vendor/foundation/foundation.joyride.js?<?php echo time(); ?>"></script>
        <script type="text/javascript" src="{site_url}js/vendor/foundation/foundation.cookie.js?<?php echo time(); ?>"></script>
                
        <script type="text/javascript" src="{site_url}js/vendor/jwplayer/jwplayer.js?<?php echo time(); ?>"></script>
        <script type="text/javascript" src="{site_url}js/vendor/fancybox/jquery.fancybox.min.js?<?php echo time(); ?>"></script>
        <script type="text/javascript" src="{site_url}js/vendor/fancybox/jquery.fancybox-buttons-ck.js?<?php echo time(); ?>"></script>
        
        <script>
            $(document).foundation()
        </script>        
        <script type="text/javascript" src="{site_url}js/main.js?<?php echo time(); ?>"></script>

    </body>
</html>