        </div> <!-- #main -->
      </div> <!-- #page -->
  </div> <!-- #outer-wrap -->
        {if segment_2!='poststatus'}
        <script>
            document.write('<script src={site_url}js/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js><\/script>');
        </script>
        {/if}
        <script src="{site_url}js/vendor/foundation/foundation.js"></script>
        <script src="{site_url}js/vendor/foundation/foundation.topbar.js"></script>
        <script src="{site_url}js/vendor/foundation/foundation.forms.js"></script>
        <script src="{site_url}js/vendor/foundation/foundation.dropdown.js"></script>
        <script src="{site_url}js/vendor/foundation/foundation.section.js"></script>
        
        <script>
            $(document).foundation();
        </script>

        <script src="{site_url}js/main-ck.js"></script>
    </body>
</html>