{exp:cookie_plus:set name="counter_cookie" value="1" seconds="30"}
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>NYU Shanghai-net</title>
        
        <link rel="icon" type="image/ico" href="{site_url}favicon.ico">
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/screen.css">
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox-buttons.css">

        <script src="js/vendor/custom.modernizr.js"></script>
        
    </head>
	{if segment_1=='profile' || segment_1=='setup'} 
    <body class="profile">
    {if:else}
    <body>
    {/if}
        <div class="outer-wrap" id="outer-wrap">
            
            <div class="page" id="page">

            <!-- Header and Nav -->
                <header class="global" id="top" role="banner">

                    <h1 class="visuallyhidden">NYU Shanghai-Net</h1>
                    <div class="header-left">
                    {if segment_1!='setup'}
                        <div class="menu">
                        {if segment_2=='profile'}  
                            <a href="{site_url}" class="back" data-title="BACK" id="back" rel="ignore"><span class="visuallyhidden">Back</span></a>
                        {if:else}
                            <a href="#nav" class="menu-btn" data-icon="☰" id="menu-btn" rel="ignore"><span class="visuallyhidden">Navigate</span></a>           
                        {/if}
                        </div>
                    {/if}
                        <div class="first ribbon">
                        {if segment_1=='setup'}
                            
                            <a href="#" class="disabled notifications-icon" id="notifications-icon"></a>
                            
                        {if:else}
                        	
		                    {exp:user:stats}  
		                        {exp:query sql="SELECT count(*) as count_comments FROM exp_channel_data, exp_friends_status WHERE exp_channel_data.field_id_2=exp_friends_status.status_id AND exp_friends_status.member_id='{member_id}' "}
	                                {if count_comments!='0'}
		                                {exp:cookie_plus:get name="counter_cookie"}
											{if  cookie!="1"}
												<div class="notifications-count" id="notifications-count"><span>{count_comments}</span></div>
											{/if}
										{/exp:cookie_plus:get}
	                                {/if}
		                            <a href="#" class="notifications-icon" data-dropdown="notifications" id="notifications-icon" title="Notifications"></a>
		                        {/exp:query}
	                        {/exp:user:stats} 
	                           
                        {/if}
                        </div> <!-- .first.ribbon -->
                    </div> <!-- .header-left -->
                    <div class="header-right">
                       
                        	{if segment_1=='setup'}
				 <div class="second ribbon">
                            		<a href="#" class="disabled actions-icon" id="actions-icon" rel="ignore"></a>
                        	</div> <!-- .second.ribbon -->
	                        <div class="post-icon">
	        	                <a href="" class="post-btn disabled" data-icon="✎" id="" title=""><span class="visuallyhidden">New Post</span></a>
                	        </div>

                        	{if:else}
                            	 <div class="second ribbon">
                                	 <a href="#" class="actions-icon" data-dropdown="actions" id="actions-icon" rel="ignore" title="Actions"></a>
	                        	 {exp:channel:entries channel='actions' category='not 1' dynamic='off'}
	                            	{if count!='0'}
		                            {exp:cookie_plus:get name="counter_cookie"}
										{if  cookie!="1"}
			                            	<div class="actions-count" id="actions-count"><span>{count}</span></div>
			                            {/if}
									{/exp:cookie_plus:get}
	                            {/if}
	                        {/exp:channel:entries}  
                        	</div> <!-- .second.ribbon -->
                        	<div class="post-icon">
                          	  <a href="{path='post'}/{logged_in_member_id}" class="post-btn"  data-icon="✎" id="post-btn" title="New Post"><span class="visuallyhidden">New Post</span></a>
                        	</div> <!-- .post-icon -->
                      		{/if}
                    </div> <!-- .header-right -->
                </header>

                {if segment_1!='setup'}
                <nav id="nav" class="nav" role="navigation">
                    {exp:user:stats}
                    <h3 class="name show-for-small" data-icon="&#128100;">
                        <a href="{path='profile'}">{screen_name}</a>
                    </h3>
                    {/exp:user:stats}
                    <ul>
                        <li>Filter By</li>
                        <li><a href="{path='content/index'}">All</a></li>
                        <li><a href="{path='content/question'}">Questions</a></li>
                        <li><a href="{path='member-list/index'}">Students</a></li>
                        {if logged_in}<li><a href="{path='LOGOUT'}">Log Out</a></li>{/if}
                    </ul>
                   <!--  <a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a> -->
                </nav>

                <div id="main" class="main">
                {if:else}
                <div id="main" class="main setup">
                {/if}
