<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>NYU Shanghai-net</title>
        
        <link rel="stylesheet" href="{site_url}css/normalize.css" />
        <link rel="stylesheet" href="{site_url}css/screen.css" />
        <script src="{site_url}js/vendor/custom.modernizr.js"></script>        
    </head>
    <body>
        <ul id="notifications" class="notifications drop" data-dropdown-content>
            <li><h4>Notifications</h4></li>
            <li><a href="#"><img src="img/josh-smith_feed_47px.jpg"><p><span>Josh Smith</span> dolor sit amet, consectetur adipiscing elit.<br><small>6 hours ago from <span></span></small></p></a></li>
            <li><a href="#"><img src="img/juan-marin_feed_47px.jpg"><p><span>Juan Marin</span> dolor sit amet, consectetur adipiscing elit.<br><small>6 hours ago from <span></span></small></p></a></li>
        </ul>
        <ul id="actions" class="actions drop" data-dropdown-content>
            <li><h4>Actions</h4></li>
            <li><a href="#"><p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit.<br><small>6 hours ago from <span></span></small></p></a></li>
            <li><a href="#"><p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit.<br><small>6 hours ago from <span></span></small></p></a></li>
            <li><a href="#"><p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit.<br><small>6 hours ago from <span></span></small></p></a></li>
        </ul>
    	{if segment_1=='profile'} 
        <div class="outer-wrap profile" id="outer-wrap">
        {if:else}
        <div class="outer-wrap" id="outer-wrap">
        {/if}
            
            <div class="page" id="page">
            <!-- Header and Nav -->
                <header class="global" id="top" role="banner">

                    <h1 class="visuallyhidden">NYU Shanghai-Net</h1>
                    <div class="header-left">
                        <div class="menu">
                        {if segment_2=='profile'}  
                            <a href="{site_url}" class="back" data-title="BACK" id="back"><span class="visuallyhidden">Back</span></a>
                        {if:else}
                            <a href="#nav" class="menu-btn" data-icon="☰" id="menu-btn"><span class="visuallyhidden">Navigate</span></a>           
                        {/if}
                        </div>
                        
                        <div class="first ribbon">
                            <div class="notifications-count" id="notifications-count"><span>1</span></div>
                            <a href="#" data-dropdown="notifications" class="notifications-icon"></a>
                        </div>
                    </div>
                    <div class="header-right">
                        <div class="second ribbon">
                            <div class="actions-count" id="actions-count"><span>99+</span></div>
                            <a href="#" data-dropdown="actions" class="actions-icon"></a>
                        </div>
                        <div class="post-icon">
                            <a href="{path='content/poststatus'}" class="post-btn"  data-icon="✎" id="post-btn"><span class="visuallyhidden">New Post</span></a>
                        </div>
                    </div>
                </header>
                <nav id="nav" class="nav" role="navigation">
                    <h3 class="name show-for-small" data-icon="👤">
                    {exp:user:stats}
                        <a href="{path='profile'}/{member_id}">{screen_name}</a>
                    {/exp:user:stats}
                    </h3>
                    <ul>
                        <li>Filter By</li>
                        <li><a href="{site_url}">All</a></li>
                        <li><a href="#">Questions</a></li>
                        <li><a href="{path='member-list/'}">Students</a></li>
                        {if logged_in}
                        <li>
	                        {exp:user:logout return=""}
	                        <a href="{url}">Logout</a>
	                        {/exp:user:logout}
                        </li>
                        {/if}
                    </ul>
                   <!--  <a id="nav-close-btn" class="close-btn" href="#top">Return to Content</a> -->
                </nav>
                <div id="main" class="main">