{exp:cookie_plus:set name="first_load" value="1" seconds="30"}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js gt-ie9"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>        
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>NYU Shanghai-net</title>
        
        <link rel="icon" type="image/ico" href="{site_url}favicon.ico">
        
        <link type="text/css" rel="stylesheet" href="{site_url}css/normalize.css?<?php echo time(); ?>">
        <link type="text/css" rel="stylesheet" href="{site_url}css/screen.css?<?php echo time(); ?>">
        <link type="text/css" rel="stylesheet" href="{site_url}css/fancybox/jquery.fancybox.css?<?php echo time(); ?>">
        <link type="text/css" rel="stylesheet" href="{site_url}css/fancybox/jquery.fancybox-buttons.css?<?php echo time(); ?>">

        <script src="{site_url}js/vendor/custom.modernizr.js"></script>
        
    </head>
	{if segment_1=='profile' || segment_2=='step-one'} 
    <body class="profile">
    {if:else}
    <body>
    {/if}
    
        <div class="outer-wrap" id="outer-wrap">
            
            <div class="page" id="page">

            <!-- Header and Nav -->
                <header class="global" id="top" role="banner">
                    <div class="header-left">
                        <div class="menu">
                        {if segment_2=='profile'}  
                            <a href="{site_url}" class="back" data-title="BACK" id="back" rel="ignore"><span class="visuallyhidden">Back</span></a>
                        {if:else}
                            <a href="#nav" class="menu-btn" id="menu-btn" rel="ignore"><span class="visuallyhidden">Navigate</span></a>           
                        {/if}
                            <h1 class="logo">Introductions</h1>
                        </div> <!-- .menu -->
                                                
                        {if segment_1=='setup' || segment_2=='terms'}
                        
                         <div class="first ribbon">   
                            <a href="#" class="disabled notifications-icon" id="notifications-icon"></a>
                        </div> <!-- .first .ribbon -->
                        
                        {if:else}	
                         <div class="first ribbon">       
                         
                         <!--gets the cookie value-->
                         <?php $last_viewed_notifications = $_COOKIE["last_viewed_notifications"]; ?>                 

                            <!--Checks for the last comment posted based on the user logged in-->
                         	{exp:user:stats dynamic="off"} 
                         		<?php $member_id = '{member_id}'; ?>
    							{exp:query sql="
                                    SELECT 
                                    field_id_22 as entry_date
                                    FROM 
                                    exp_channel_data 
                                    WHERE 
                                    channel_id='1' AND 
                                    field_id_14='{member_id}' 
                                    ORDER BY field_id_22 DESC Limit 1
                                "}
                                	 <?php $last_comment_date = '{entry_date}';?>
                                {/exp:query}
							{/exp:user:stats}
							
							<!--Generates the counte number-->
							<?php $query = $this->EE->db->query("
									SELECT count(*) as count
									FROM 
									exp_channel_data 
									WHERE 
									channel_id='1' AND 
									field_id_14='$member_id' AND
									field_id_22 > '$last_viewed_notifications'
							"); ?>
							
							<?php foreach ($query->result() as $row) ?>
							<?php { ?>
								<?php $dropdown_off = $row->count; ?>
							<?php } ?>
                            
							<!--Check if counter is bigger than 0, and if the date of the last comment is bigger 
							than the last interaction with the button-->
							<?php if ($dropdown_off>0) { ?>
	                            <?php if ($last_viewed_notifications <= $last_comment_date) { ?>
	                            <div class="notifications-count" id="notifications-count"><span><?php echo $dropdown_off; ?></span></div>
	                            <?php } ?>
                            <?php } ?>
							
							
						 	<?php if ($dropdown_off>0) { ?>
						 		<a href="#" class="notifications-icon"  data-dropdown="notifications"  id="notifications-icon" title="Notifications"></a>
						 	<?php } else { ?>
						 		<a href="#" class="notifications-icon"  data-dropdown="notifications" id="notifications-icon" title="Notifications"></a>
						 	<?php } ?>
						 </div> <!-- .first.ribbon -->   
                        {/if}
                        
                    </div> <!-- .header-left -->
                    <div class="header-right">
                       
                    	{if segment_1=='setup' || segment_2=='terms'}
                        <div class="second ribbon">
                    		<a href="#" class="disabled actions-icon" id="actions-icon" rel="ignore"></a>
                    	</div> <!-- .second.ribbon -->
                            
                        <div class="post-icon">
                            <a href="" class="post-btn disabled" id="" rel="ignore" title=""><span class="visuallyhidden">New Post</span></a>
                        </div>
                        
                        {if:else}
                        
                        <div class="second ribbon"> 
                        
                        	<!--COunter variables setup-->  
                            <?php $counter_action=0; ?> 
                            <?php $counter_not_take_action=0; ?>
                            
                            {exp:channel:entries channel="actions" category="not 1" dynamic="off" disable="pagination|member_data|category_fields|custom_fields"}
								<?php $counter_action='{total_results}'; ?>                        
							{/exp:channel:entries}

							{exp:query sql=" SELECT  entry_date FROM  exp_channel_titles WHERE  channel_id='3' ORDER BY entry_date DESC Limit 1 "}
									<?php $last_action_published='{entry_date}'; ?>
							{/exp:query}
						
							{exp:user:stats dynamic="off"}
								{exp:query sql=" SELECT count(*) as counter_not_take_action FROM  exp_channel_data  WHERE  channel_id='4' AND field_id_16='{member_id}' "}
									<?php $counter_not_take_action='{counter_not_take_action}'; ?>
								{/exp:query}
							{/exp:user:stats}
							
							<!--gets the cookie value-->
							<?php $last_viewed_actions = $_COOKIE["last_viewed_actions"]; ?> 

							<!--generates the final count-->
							<?php $counter_action=$counter_action-$counter_not_take_action; ?> 
							
							<?php if ($counter_action > 0) { ?>
								<?php //if ($last_action_published > $last_viewed_actions) { ?>
						  		<div class="actions-count" id="actions-count">
						  			<span><?php echo $counter_action; ?></span>
						  		</div>
						  		<?php //} ?>
						  	<?php } ?>	
						  	
						  	
						  	 
						  	
						  
						  	<?php if ($counter_action > 0) { ?>	
						  		<a href="#" class="actions-icon" data-dropdown="actions"  id="actions-icon" rel="ignore" title="Actions"></a>
						  	<?php } else { ?>
						  		<a href="#" class="actions-icon disable" id="actions-icon" rel="ignore" title="Actions"></a>
						  	<?php } ?>	
	                      
	                          
                        </div> <!-- .second.ribbon -->
                        <div class="post-icon">
                            <a href="{path='post'}/{logged_in_member_id}" class="post-btn" id="post-btn" title="New Post"><span class="visuallyhidden">New Post</span></a>
                        </div> <!-- .post-icon -->
                        {/if}
                    </div> <!-- .header-right -->
                </header>

                {if segment_1!='setup'}
                <div id="main" class="main">
                {if:else}
                <div id="main" class="main setup">
                {/if}
                    {if segment_2!='terms'}
                    <nav id="nav" class="nav" role="navigation">
                    
                        <div class="nav-wrapper">
                        
                        	{embed='includes/profile-name' current_member_id='{logged_in_member_id}'}
                        
                            <ul>
                                <li>Filter By</li>
                                    <li><a href="{path='content/index'}" {if embed:loc =="great_wall"}class="current"{/if} id="nav-all">All</a></li>
                                 <li><a href="{path='content/question'}" {if embed:loc =="questions"}class="current"{/if} id="nav-questions">Questions</a></li>
                                <li><a href="{path='actions'}" {if embed:loc =="actions"}class="current"{/if} id="nav-actions">Actions</a></li>
<!--                                 <li><a href="{path='member-list'}" {if embed:loc ==""}class="current"{/if} id="nav-yours">Your Posts</a></li> -->
                                <li><a href="{path='member-list'}" {if embed:loc =="students"}class="current"{/if} id="nav-students">Student List</a></li>
                                <li><a href="{path='profile'}/{logged_in_member_id}" {if embed:loc =="profile"}class="current"{/if} id="nav-profile">Your Profile</a></li>
                               {if logged_in}<li><a href="https://shanghai.nyu.edu/Shibboleth.sso/Logout?return=https://login.nyu.edu/sso/UI/Logout" id="nav-logout">Log Out</a></li>{/if}
                            </ul>
                            <small><em><a href="{path='pages/terms'}">Terms</a></em></small>
                        </div> <!-- .nav-wrapper -->
                    </nav>
                    {/if}

