<section class="new-post">

	<form action="{path='post/post'}/{logged_in_member_id}" class="post-form" id="form" enctype="multipart/form-data" method="post" name="new-post">
    	{if embed:next-step}
        <input type="hidden" name="next-step" value="{embed:next-step}">
        {/if}
        
        {if embed:action_id}
        <input type="hidden" name="action_id" value="{embed:action_id}">
        <input type="hidden" name="id_member" value="{logged_in_member_id}">
        {/if}
        
        <div class="preview" id="preview">
            <div class="thumb" id="thumb">
                   <!--
 <button class="photo-control  visuallyhidden" onclick="rotate('right')" type="button">Rotate 90˚ Clockwise</button>
                    <button class="photo-control  visuallyhidden" onclick="rotate('left')" type="button">Rotate 90˚ Counterclockwise</button>
-->
            </div> <!-- .thumb -->
            <div class="details">
                <span class="size" id="size"></span>
            </div>
        </div> <!-- .preview -->
    	{if segment_1!='post'}
    	<input class="post-text" name="friends_status" placeholder="Show, tell, or ask." required type="text">
    	{if:else}
    	<textarea class="post-text" name="friends_status" placeholder="Show, tell, or ask." rows="8" required></textarea>
    	{/if}

            <div class="post-inputs">
                <div class="upload-buttons">
                    <div>
                        <a class="attach-media photo" data-icon="&#128247;" id="photo-select"><span class="visuallyhidden">Upload an Image</span></a>
                        <!-- <input accept="image/*" class="photo-input" id="photo-input" onchange="handleFiles(this, $('#preview'))" name="media_images" type="file" value="image"> -->
                        <input accept="image/*" class="visuallyhidden photo-input" data-maxheight="1000" data-maxwidth="1000" id="photo-input" name="media_images" type="file" value="image">
                        
                    </div>
                    <div>
                        <a class="attach-media video" data-icon="&#127916;"><span class="visuallyhidden">Upload a Video</span></a>
                        <input accept="video/*" class="visuallyhidden video-input" id="video-input" onchange="handleFiles(this, $('#preview'))" name="media_video" type="file" value="video">
                    </div>
                    <div>
                        <a class="attach-media audio" data-icon="&#9835;"><span class="visuallyhidden">Upload an audio file</span></a>
                        <input accept="audio/*" class="visuallyhidden audio-input" id="audio-input" onchange="handleFiles(this, $('#preview'))" name="media_audio" type="file" value="audio">
                    </div>
                </div> <!-- .upload-buttons -->
    
                <div class="question-wrapper">
                    <label for="question" class="question">
                        <input class="question-input" id="question" name="question" type="checkbox" value="1">
                    </label>
                </div>	<!-- .question-wrapper -->
            </div> <!-- .post-inputs -->
	
    	<input class="submit-post" id="submit" type="submit" value="Post">
	</form>

</section> <!-- .new-post -->
