<section class="new-post">

	
	{exp:query sql="select status_id, member_id from `exp_friends_status` where member_id='{segment_3}' order by status_date DESC limit 1"}
        <?php $status_owner_id='{status_id}'; ?>
    {/exp:query}

	
	{if segment_4==''}
	{exp:friends:status_form return="content/poststatus/{logged_in_member_id}/flag" form_name="form1"}
	{if:else}
	{exp:friends:status_form return="content/poststatus/{logged_in_member_id}/flag" form_name="form2"}
	{/if}
		<input type="hidden" name="friends_status_private" id="friends_status_private" value="n" />
		<button id="cancel" name="cancel" value="Cancel" class="cancel">Cancel</button>
		
		{if segment_4=='flag'}
		<textarea id="post" name="friends_status" placeholder="Show, tell, or ask." rows="8">{exp:friends:status limit="1" member_id="{logged_in_member_id}"}{friends_status}{/exp:friends:status}</textarea>
		{if:else}
		<textarea id="post" name="friends_status" placeholder="Show, tell, or ask." rows="8"></textarea>
		{/if}

		{if segment_4!='flag'}
		<p>
			<input type="submit" value="Add Media" id="post" class="post" onclick="javascript:first_form()"> 
			<input type="submit" value="Post" id="post" class="post" onclick="javascript:second_form()">
		</p>
		{/if}
		
	{/exp:friends:status_form} 
	
    {if segment_4=='flag'}
    {exp:safecracker channel="media" return="content/index" dynamic="yes" include_jquery="yes"}
		<input type="hidden" name="title" id="title" value="Status Media Elements" />
		<input type="hidden" name="entry_date" value="{entry_date}" />
		<input type="hidden" name="author_id" value="{logged_in_member_id}" />
		<input type="hidden" name="url_title" id="url_title" value="{url_title}" />
		<input type="hidden" name="status_owner_id" value="<?php echo $status_owner_id; ?>" />	
                            <div class="media">
                                <div class="post-button photo" id="photo">
                                    <a href="#" rel="ignore" data-icon="📷">
                                        <span class="visuallyhidden">Upload an Image</span>
	                                    <input type="file" accept="image/*" id="media_images" name="media_images" value="image">
                                    </a>
                                </div>
                                <div class="post-button video">
                                    <a href="#" rel="ignore" data-icon="🎬">
                                        <span class="visuallyhidden">Upload a Video</span>
                                        <input type="file" accept="video/*" name="media_video" value="video">
                                    </a>
                                </div>
                                <div class="post-button audio">
                                    <a href="#" rel="ignore" data-icon="♫">
                                        <span class="visuallyhidden">Upload an audio file</span>
                                        <input type="file" accept="audio/*" name="media_audio" value="audio">
                                    </a>
                                </div>
                            </div> <!-- .media -->
                            <div class="question">
                                <input type="checkbox" name="question" value="1" id="question">
                            </div>
                  
         <input type="submit" value="Post" id="post" class="post">   
               
     {/exp:safecracker}  
     {/if}                   
                           
</section>

<script language='javascript'>
<!--
function first_form()
{
document.form1.submit();
}

function second_form()
{
document.form2.submit();
}
-->
</script>