{exp:query sql="SELECT status_id, member_id, status, status_date FROM exp_friends_status WHERE site_id ='1' ORDER BY status_date DESC limit 10"}
{exp:user:stats member_id='{member_id}'}
<article class="post section-container accordion" data-section="accordion">
    <div class="post-header author">
        <div class="user-img photo">
            <a href="{path='profile'}/{member_id}">
                {if photo_filename}
                <img src="{photo_url}{photo_filename}">
                {if:else}
                <img src="http://placehold.it/90x90&text=NO IMAGE">
                {/if}
            </a>
        </div> <!-- .photo -->
        <div class="details info">
            <h4><a href="{path='profile'}/{member_id}">{screen_name}</a></h4>
            <span>{status_date format='%F %j, %Y'}<br>from {occupation}</span>
        </div> <!-- .info -->
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='no' limit="1"}
        {if question}
        <div class="question"></div>
        {/if}
        {/exp:channel:entries} 
    </div><!-- .author -->
            
    <div class="status post-content">
        <p>{status}</p>
        
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='no' limit="1"}
	        {if media_images}
		        <div class="post-img">
			    	<a href="{site_url}images/media_images/{media_images}" class="posted-img"><img src="{site_url}images/media_images/{media_images}"></a>
		        </div> <!-- .post-img -->
	        {/if}
	        
	        {if media_audio}
	           <div class="media-container">
	               <a href="{path='includes/player'}" class="posted-audio" data-path="{media_audio}" data-audio="true">click here for audio</a>
	           </div> <!-- .media-container -->
			{/if}
			
	        {if media_video}
	           <div class="media-container">
	               <a href="{path='includes/player'}" class="posted-video" data-path="{media_video}">click here for video</a>
	           </div> <!-- .media-container -->
			{/if}	
        {/exp:channel:entries}     
    </div> <!-- .post-content -->	
            
    <section class="comments section">
        <div class="controls title">
            <a href="#" class="comment-icon" rel="ignore">
                {embed='includes/comment-counter' id_status='{status_id}'} <!-- Counter of Comments -->
            </a>
            {embed='includes/comments' id_member='{member_id}' id_status='{status_id}' summary='yes'}
        </div> <!-- .comment-count -->
        <div class="comment-feed content">
            {embed='includes/comments' id_member='{member_id}' id_status='{status_id}'}
        </div>
    </section> <!-- .comments -->    
</article>
{/exp:user:stats}
{/exp:query}