{!--{exp:infinite_scroll:wrapper ajax_container="ajax_container" embed_template_url="{homepage}/includes/status-all" process_indicator="process_indicator" parse="inward"}--}


	{!--{infinite_scroll_container_top} --}
	<section class="great-wall" id="ajax_container">
	{!--{/infinite_scroll_container_top} --}
	
	{embed="includes/new-post"}
	   
		{exp:query limit="10" sql="
		SELECT
		status_id, 
		member_id, 
		status, 
		status_date
		FROM 
		exp_friends_status
		WHERE 
		visible='0'
		ORDER BY update_date DESC
		"}
		
			{exp:user:stats member_id='{member_id}'}
			
                {post_template}
				    
			{/exp:user:stats}
		
		{!--{if count == total_results}
    		<div class="process_indicator">Loading...</div>
		{/if}--}
		
		{paginate}
				{!--{exp:infinite_scroll:next_chunk_link}--}
				{if next_page}
					<p><a href="{auto_path}" class="next_chunk_link">More Entries</a></p>
				{/if}
			{!--{/exp:infinite_scroll:next_chunk_link}--}
		{/paginate}
		
		{/exp:query}
	
{!--	{infinite_scroll_container_bottom} --}
	</section>
{!--	{/infinite_scroll_container_bottom}

{/exp:infinite_scroll:wrapper}--}


