{!--{exp:infinite_scroll:wrapper ajax_container="ajax_container" embed_template_url="{homepage}/includes/status-question" process_indicator="process_indicator" parse="inward"}--}


	{!--{infinite_scroll_container_top}--}
	<section class="great-wall" id="ajax_container">
	{!--{/infinite_scroll_container_top}--}

{exp:query limit="10" sql="
SELECT exp_friends_status.status_id as status_id, 
exp_friends_status.member_id as member_id, 
exp_friends_status.status as status, 
exp_friends_status.status_date as status_date 
FROM 
exp_channel_data, 
exp_friends_status 
WHERE exp_channel_data.field_id_4=exp_friends_status.status_id AND 
exp_channel_data.channel_id='2' AND 
exp_channel_data.field_id_5='1' AND
exp_friends_status .visible='0' 
ORDER BY update_date DESC "}


{exp:user:stats member_id='{member_id}'}
    {post_template}
{/exp:user:stats}

		{!--{if count == total_results}
		<div class="process_indicator">Loading...</div>
		{/if}--}

		{paginate}
			{!--{exp:infinite_scroll:next_chunk_link}--}
				{if next_page}
					<p><a href="{auto_path}" class="next_chunk_link">More Posts</a></p>
				{/if}
			{!--{/exp:infinite_scroll:next_chunk_link}--}
		{/paginate}


{/exp:query}

	{!--{infinite_scroll_container_bottom}--}
	</section>
	{!--{/infinite_scroll_container_bottom}--}


{!--{/exp:infinite_scroll:wrapper}--}