{!--{exp:infinite_scroll:wrapper ajax_container="ajax_container" embed_template_url="{homepage}/includes/status-question" process_indicator="process_indicator" parse="inward"}--}


	{!--{infinite_scroll_container_top}--}
	<section class="great-wall" id="ajax_container">
	{!--{/infinite_scroll_container_top}--}

{exp:query limit="10" sql="
SELECT exp_friends_status.status_id as status_id, 
exp_friends_status.member_id as member_id, 
exp_friends_status.status as status, 
exp_friends_status.status_date as status_date 
FROM 
exp_channel_data, 
exp_friends_status 
WHERE exp_channel_data.field_id_4=exp_friends_status.status_id AND 
exp_channel_data.channel_id='2' AND 
exp_channel_data.field_id_5='1' AND
exp_friends_status .visible='0' 
ORDER BY update_date DESC "}


{exp:user:stats member_id='{member_id}'}
<article class="post section-container accordion" data-section="accordion">
    <div class="post-header author">
        <div class="user-img photo">
            <a href="{path='profile'}/{member_id}">
                <img src="{photo_url}{photo_filename}?<?php echo time(); ?>">
            </a>
        </div> <!-- .photo -->
        <div class="details info">
            <h4><a href="{path='profile'}/{member_id}">{screen_name}</a></h4>
            <span>{status_date format="%F %j, %Y at %h:%i %a"}<br>from {occupation}</span>
				            {if logged_in_member_id==member_id}
				            <a href="{path=delete}/{status_id}/{member_id}" class="delete">X</a>
				            {/if}
        </div> <!-- .info -->
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='off' limit="1" disable="pagination|member_data|category_fields|categories"}
        {if question}
        <div class="question"></div>
        {/if}
        {/exp:channel:entries} 
    </div><!-- .author -->
            
    <div class="status post-content">
        <p>{status}</p>
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='off' limit="1" disable="pagination|member_data|category_fields|categories"}
             {if media_images}
		        <div class="post-img">
			    	<a href="{site_url}images/media_images/{media_images}" class="posted-img"><img src="{site_url}images/media_images/{media_images}?<?php echo time(); ?>"></a>
		        </div> <!-- .post-img -->
	        {/if}
	        
	        {if media_audio}
	           <div class="media-container">
	               <a href="{path='includes/player'}?<?php echo time(); ?>" class="posted-audio" data-path="{media_audio}" data-audio="true">click here for audio</a>
	           </div> <!-- .media-container -->
			{/if}
			
	        {if media_video}
	           <div class="media-container">
	               <a href="{path='includes/player'}?<?php echo time(); ?>" class="posted-video" data-path="{media_video}">click here for video</a>
	           </div> <!-- .media-container -->
			{/if}				
	
        {/exp:channel:entries}   
    </div> <!-- .post-content -->	
            
    <section class="comments section">
        <div class="controls title">
            <div class="comment-icon">
                {embed='includes/comment-counter' id_status='{status_id}'} <!-- Counter of Comments -->
            </div> <!-- .comment-icon -->
            {embed='includes/comments' id_member='{member_id}' id_status='{status_id}' summary='yes'}
        </div> <!-- .comment-count -->
        <div class="comment-feed content">
            {embed='includes/comments' id_member='{member_id}' id_status='{status_id}'}
        </div>
    </section> <!-- .comments -->    
</article>
{/exp:user:stats}

		{!--{if count == total_results}
		<div class="process_indicator">Loading...</div>
		{/if}--}

		{paginate}
			{!--{exp:infinite_scroll:next_chunk_link}--}
				{if next_page}
					<p><a href="{auto_path}" class="next_chunk_link">More Posts</a></p>
				{/if}
			{!--{/exp:infinite_scroll:next_chunk_link}--}
		{/paginate}


{/exp:query}

	{!--{infinite_scroll_container_bottom}--}
	</section>
	{!--{/infinite_scroll_container_bottom}--}


{!--{/exp:infinite_scroll:wrapper}--}