{!--{exp:infinite_scroll:wrapper ajax_container="ajax_container" embed_template_url="{homepage}/includes/status-profile/{segment_2}" parse="inward" process_indicator="process_indicator" segment_url='{segment_2}'}--}

	{!--{infinite_scroll_container_top}--}
	<div id="ajax_container" >
	{!--{/infinite_scroll_container_top}--}

{if segment_3}

    {exp:query limit="10" sql="
	SELECT 
	status_id, member_id, status, status_date 
	FROM exp_friends_status 
	WHERE 
	site_id ='1' AND 
	member_id='{segment_3}' AND
	visible='0' 
	ORDER BY update_date DESC
	"}

{exp:user:stats member_id="{segment_3}" dynamic='off'}
<article class="post section-container accordion" data-section="accordion">

    <div class="post-header author">
        <div class="user-img photo">
            <a href="{path='profile'}/{embed:member_id}">
                <img src="{photo_url}{photo_filename}?<?php echo time(); ?>">
            </a>
        </div> <!-- .user-img -->
        <div class="details info">
            <h4><a href="{path='profile'}/{embed:member_id}">{screen_name}</a></h4>
            <span>{status_date format="%F %j, %Y at %h:%i %a"}<br>from {occupation}</span>
        </div> <!-- .info -->
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='off' limit="1" disable="pagination|member_data|category_fields|categories"}
        {if question}
        <div class="question"></div>
        {/if}
        {if logged_in_member_id==member_id}
        <a href="{path=delete}/{status_id}" class="delete" title="Delete Post">x</a>
        {/if}
        {/exp:channel:entries} 	    
    </div><!-- .author -->
            
    <div class="status post-content">
        <p>{status}</p>
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='off' limit="1" disable="pagination|member_data|category_fields|categories"}
             {if media_images}
		        <div class="post-img">
			    	<a href="{site_url}images/media_images/{media_images}" class="posted-img"><img src="{site_url}images/media_images/{media_images}"></a>
		        </div> <!-- .post-img -->
	        {/if}
	        
	        {if media_audio}
	           <div class="media-container">
	               <a href="{path='includes/player'}" class="posted-audio" data-path="{media_audio}" data-audio="true">click here for audio</a>
	           </div> <!-- .media-container -->
			{/if}
			
	        {if media_video}
	           <div class="media-container">
	               <a href="{path='includes/player'}" class="posted-video" data-path="{media_video}">click here for video</a>
	           </div> <!-- .media-container -->
			{/if}				
        {/exp:channel:entries}         
    </div> <!-- .post-content -->	
            
    <section class="comments section">
        <div class="controls title">
            <div class="comment-icon">
                {embed='includes/comment-counter' id_status='{status_id}'} <!-- Counter of Comments -->
            </div>
            {embed='includes/comments' id_member='{segment_3}' id_status='{status_id}' summary='yes'}
        </div> <!-- .controls -->
        <div class="comment-feed content">
            {embed='includes/comments' id_member='{segment_3}' id_status='{status_id}'}
        </div>
    </section> <!-- .comments -->    
</article>
{/exp:user:stats}


		{!--{if count == total_results}
		<div class="process_indicator">Loading...</div>
		{/if}--}

		{paginate}
			{!--{exp:infinite_scroll:next_chunk_link}--}
				{if next_page}
					<p><a href="{auto_path}" class="next_chunk_link">More Entries</a></p>
				{/if}
			{!--{/exp:infinite_scroll:next_chunk_link}--}
		{/paginate}


{/exp:query}

{if:else}

    {exp:query limit="10" sql="
	SELECT 
	status_id, member_id, status, status_date 
	FROM exp_friends_status 
	WHERE 
	site_id ='1' AND 
	member_id='{segment_2}' AND
	visible='0' 
	ORDER BY update_date DESC
	"}

{exp:user:stats member_id="{segment_2}" dynamic='off'}
<article class="post section-container accordion" data-section="accordion">

    <div class="post-header author">
        <div class="user-img photo">
            <a href="{path='profile'}/{embed:member_id}">
                {if photo_filename}
                <img src="{photo_url}{photo_filename}?<?php echo time(); ?>">
                {if:else}
                <img src="http://placehold.it/90x90&text=NO IMAGE">
                {/if}
            </a>
        </div> <!-- .user-img -->
        <div class="details info">
            <h4><a href="{path='profile'}/{embed:member_id}">{screen_name}</a></h4>
            <span>{status_date format="%F %j, %Y at %h:%i %a"}<br>from {occupation}</span>
        </div> <!-- .info -->
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='off' limit="1" disable="pagination|member_data|category_fields|categories"}
        {if question}
        <div class="question"></div>
        {/if}
        {if logged_in_member_id==member_id}
        <a href="{path=delete}/{status_id}" class="delete" title="Delete Post">x</a>
        {/if}
        {/exp:channel:entries} 	    
    </div><!-- .author -->
            
    <div class="status post-content">
        <p>{status}</p>
        {exp:channel:entries channel='media' search:status_owner_id='={status_id}' orderby='date' sort='desc' dynamic='off' limit="1" disable="pagination|member_data|category_fields|categories"}
             {if media_images}
		        <div class="post-img">
			    	<a href="{site_url}images/media_images/{media_images}" class="posted-img"><img src="{site_url}images/media_images/{media_images}?<?php echo time(); ?>"></a>
		        </div> <!-- .post-img -->
	        {/if}
	        
	        {if media_audio}
	           <div class="media-container">
	               <a href="{path='includes/player'}?<?php echo time(); ?>" class="posted-audio" data-path="{media_audio}" data-audio="true">click here for audio</a>
	           </div> <!-- .media-container -->
			{/if}
			
	        {if media_video}
	           <div class="media-container">
	               <a href="{path='includes/player'}?<?php echo time(); ?>" class="posted-video" data-path="{media_video}">click here for video</a>
	           </div> <!-- .media-container -->
			{/if}				
        {/exp:channel:entries}         
    </div> <!-- .post-content -->	
            
    <section class="comments section">
        <div class="controls title">
            <div class="comment-icon">
                {embed='includes/comment-counter' id_status='{status_id}'} <!-- Counter of Comments -->
            </div> <!-- .comment-icon -->
            {embed='includes/comments' id_member='{segment_2}' id_status='{status_id}' summary='yes'}
        </div> <!-- .controls -->
        <div class="comment-feed content">
            {embed='includes/comments' id_member='{segment_2}' id_status='{status_id}'}
        </div>
    </section> <!-- .comments -->    
</article>
{/exp:user:stats}


		{!--{if count == total_results}
		<div class="process_indicator">Loading...</div>
		{/if}--}

		{paginate}
			{!--{exp:infinite_scroll:next_chunk_link}--}
				{if next_page}
					<p><a href="{auto_path}" class="next_chunk_link">More Entries</a></p>
				{/if}
			{!--{/exp:infinite_scroll:next_chunk_link}--}
		{/paginate}


{/exp:query}

{/if}

	{!--{infinite_scroll_container_bottom}--}
	</div>
	{!--{/infinite_scroll_container_bottom}--]

{!--{/exp:infinite_scroll:wrapper}--}