<form action="{path='setup/step-one/post'}" method="post" name="accept-terms">
<input type="hidden" name="member_id" value="{member_id}" />
<input type="hidden" name="action_id" value="713" />
<input type="hidden" name="position" value="0" />
<label for="accept_terms">
    <input id="accept_terms" type="checkbox" name="accept_terms" value="1" required>
    <span>I accept the <a href="{path='pages/terms'}" id="terms-content" target="_blank">Terms of Use</a></span>
</label>

<button class="terms-accept" id="terms-accept" name="submit" type="submit">Continue &gt;</button>
</form>