{embed='includes/header'}

<div class="profile-setup">
    {embed='includes/setup-directions'}

    {exp:user:stats}
        {if last_segment=='finish'}
            {exp:cookie_plus:set name="setup" value="finish" seconds="31536000" method="script"}
            <b><a href="{site_url}" class="approve" id="next">Finish</a></b>
        {if:elseif photo_filename}
            {redirect=''}
        {if:else}
            {redirect='setup/step-one/{member_id}'}
        {/if}
    {/exp:user:stats}
</div>
{embed='includes/footer'}