{embed='includes/header'}
{exp:cookie_plus:set name="setup" value="step-one" seconds="31536000" method="script"}

    <section class="profile-setup">
    {embed='includes/setup-directions'}
        {exp:user:edit override_return='setup/to-do/2' return="setup/to-do/2" password_required='n' form:class="step-one clearfix" form:id="form"}
        <b><input class="approve" name="next" id="next" type="submit" value="Next" disabled></b>
        <div class="profile-header clearfix">
            <!-- takes up the left column on larger screens, stacks on smaller screens -->
            <div class="user-img" id="preview">
                <div class="thumb" id="thumb"></div> <!-- .thumb -->
                <div class="specs"></div> <!-- .specs -->
            </div> <!-- .profile-photo -->
            <div class="profile-right">
                <div class="name">
                    <h4>{screen_name}</h4>
                </div>
                <div class="profile-select-wrapper">
                    <input accept="image/*" class="photo-input visuallyhidden" data-maxwidth="1000" data-maxheight="1000" id="profile-input" name="photo_filename" required type="file">
                <a href="#" class="edit-photo visuallyhidden" id="profile-select"><span class="visuallyhidden">Edit Your Profile Photo</span></a>           
                </div> <!-- .name -->
            </div>
        </div> <!-- .profile-header -->

        <section class="profile-details">
            <h4>Living</h4>
            <a href="#" class="edit-details" id="edit-details"><span class="visuallyhidden">Edit Interests</span></a>
            <div class="instructions" id="instructions">
                <table class="profile-info">
                    <tbody>
                        <tr>
                            <th scope="rowgroup">Hometown</th>
                            <td class="data">Where are you from?</td>
                        </tr>
                        
                        <tr>
                            <th scope="rowgroup">Current City</th>
                            <td class="data">Where do you live?</td>
                        </tr>
                    </tbody>
                </table>
                <h4>Interests</h4>
                <div class="interests">
                    <p>Tell your classmates a little more about yourself...</p>
                </div> <!-- .interests -->
            </div> <!-- .instructions -->
            
            <div class="form visuallyhidden" id="fields">
                <table class="profile-info">
                    <tbody>
                        <tr>
                            <th scope="rowgroup"><label for="location">Hometown</label></th>
                            <td class="data"><input id="location" name="location" placeholder="e.g. London, UK" required type="text" value="{location}"></td>
                        </tr>
                        
                        <tr>
                            <th scope="rowgroup"><label for="occupation">Current City</label></th>
                            <td class="data"><input id="occupation" name="occupation" placeholder="e.g. Shanghai, China" required type="text" value="{occupation}"></td>
                        </tr>
                    </tbody>
                </table>
                <h4><label for="interests">Interests</label></h4>
                <div class="interests">
                    <textarea id="interests" name="interests" placeholder="Tell your classmates what you're into..." required rows="8" value="{interests}">{interests}</textarea>
                </div> <!-- .interests -->
            </div> <!-- .form -->
        </section> <!-- .profile-details takes up the right column on large screens, stacks on smaller screens-->

    {/exp:user:edit}
    </section> <!-- .profile-setup --> 
        <!-- At the bottom of your page but inside of the body tag -->
        <!--
<ol class="joyride-list" data-joyride>
            <li data-id="edit-details" data-text="Got It" data-options="nubPosition:left;tipLocation:bottom;">
                <h4>Thanks for joining!</h4> 
                <p>You can start editing your profile by clicking or tapping this button here.</p>
            </li>
            <li data-id="numero1" data-class="custom so-awesome" data-text="Next">
                <p>You can control all the details for you tour stop. Any valid HTML will work inside of Joyride.</p>
            </li>
            <li data-id="numero2" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>Stop #2</h4>
                <p>Get the details right by styling Joyride with a custom stylesheet!</p>
            </li>
            <li data-button="Next">
                <h4>Stop #4</h4>
                <p>It works as a modal too!</p>
            </li>
        </ol>  
-->
{embed='includes/footer'}
