{embed='includes/header'}
<div class="step-two">
        <b><button class="cancel"  id="back" name="back" type="button" onclick="javascript:history.go(-1)">Back</button>
        
        {if segment_3=='2'}
        <a href="{path='setup/step-two'}/{logged_in_member_id}" class="approve" id="next">Next</a></b>
        
        {if:elseif segment_3=='3'}
        <a href="{path='setup/step-three'}/{logged_in_member_id}" class="approve" id="next">Next</a></b>
        {/if}
</div>
{embed='includes/footer'}