/******
 ***
 *** NYU SHANGHI-NET
 ***
 ******/



 // FOUNDATION IMPORTS

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown"; 
 
 // IMPORTS

@include establish-baseline($base-font-size);

body {
    background: #2e2e2e url(../img/pinstripes-black.png) repeat;
}

body.profile {
    background: #ccc url(../img/pinstripes-white.png) repeat;
}

[data-icon]:before {
  font-family: "Entypo"; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

.page {
    max-width: 62.5em;
    margin: 0 auto;
}

.outer-wrap {
    position: relative;
/*     overflow: hidden; */
    width: 100%;
}

.page {
    position: relative;
    padding-bottom: 1em;
}

.global {
    @include grid-row;
    position: relative;
    z-index: 100;
    background: $primary-color url(../img/header-pattern.png) repeat -2px -3px;
    padding: 0.25em 0.75em 0.2em;
    @include box-shadow(0em 0.7em 1em 0em rgba(0, 0, 0, 0.25));
}

.logo { color: $white; font-weight: normal;}

#ajax_container {
	display:block; 
	height:100%; 
	max-height:100%; 
	overflow:auto; 
	}

.header-left,
.header-right {
    @include grid-column(6, $collapse: true);
}

.menu {
    float: left;
}

.menu-btn,
.post-btn {
    @include small-black-square;
}

.menu-btn:hover, .menu-btn:focus,
.post-btn:hover, .post-btn:focus {
    color: #999;
}

.back {
    @include back-arrow;
    top: 6px;
    float: left;
}

.ribbon {
    background: url(../img/header-ribbon.png) no-repeat;
    width: 27px;
    height: 41px;
    top: -0.25em;
    position: relative;
}

.first.ribbon {
    float: right;
    margin-right: 5px;
}

.second.ribbon {
    float: left;
    margin-left: 5px;
}

.notifications-icon,
.actions-icon {
    display: block;
    width: 17px;
    height: 100%;
    position: absolute;
    top: 12px;
    left: 5px;
    @include box-shadow(0 1px 2px o rgba(0,0,0,0.5));
}

.notifications-icon {
    background: url(../img/activity.png) no-repeat;
}

.actions-icon {
    background: url(../img/action.png) no-repeat;
}

.drop,
.steps { // dropdowns. revealed when .activity is clicked
    @include dropdown-container($content: list, $triangle: false);
    padding: 0;
    border-width: 2px;
    
    li { 
        @include dropdown-style; 
        @include grid-row(nest-collapse);
        border-bottom: 1px solid $light-gray;
        max-height: 75px; // better to resize in CMS
        overflow: hidden;
        
        &:not(:first-child) {
            padding: 0.5em 1em;
        }
    }
        
    a { 
        color: $dark-gray;
        display: block;
        height: 100%;
        width: 100%;
    }
        
    p {
        @include adjust-font-size-to(16px, .9);
        @include grid-column(9, $collapse: true);
        padding-left: 0.5em;
    }
    
    li:first-child {
        @include purple-gradient;
        text-align: center;
        border-bottom: none;
        
        h4 {
            padding: .25em 0;
            color: $white;
            background: -webkit-linear-gradient(#fff, $light-gray);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include adjust-font-size-to(16px);
            // consider using text-gradient: http://stackoverflow.com/questions/3802218/how-do-i-combined-css-text-shadow-and-background-image-webkit-gradient
        }
    }
}


// STATIC BOX FOR SETUP FLOW
.steps {
    position: static;
    max-width: 800px;
    margin: 1em auto;
    
    p { width: 100%;}
}



/* THE DROPDOWN THING IS WEIRD
.drop.open ~ .outer-wrap .main {
    top: 200px;
    position: relative;
}
*/

.actions {
    li:not(:first-child):before {
        content: "";
        background-image: url(../img/purple-flower.png);
        display: block;
        float: left;
        width: 27px;
        height: 27px;
        margin-top: 7px;
    }
    
    a {
        margin-left: 42px;
    }
}

.notifications {

    li:not(:first-child) {
        padding: 0;
    }
    
    .user-img {
        @include grid-column(3, $collapse: true);
        
        img {display: block;}
    }
    
    span { color: $light-purple; }

}

.notifications-count,
.actions-count {
    @include purple-notice-bubble;
    @include adjust-leading-to(.4);
    @include transition();
    
    span {
        display: block;
        padding: 0 0.1em;
        color: $white;
        font-weight: bold;
        @include adjust-font-size-to(10px, .9);
    }
}

.csstransforms3d.csstransitions {
    .notifications-count,
    .actions-count {
        @include translate3d(0,0,0);
    }
    
    .viewed {
        @include scale3d($scale-x: .8, $scale-y: .8);
    }
}

.notifications-count {
    left: -15px;
    opacity: 1;
}

.actions-count {
    right: -15px;
}

.viewed {
    opacity: 0;
}

.post-icon {
    float: right;
}

/*
.nav .close-btn {
    position: absolute;
    top: 1.25em;
    left: 1.875em;
}

.close-btn {
    display: block;
    width: 2.625em;
    height: 2.25em;
    padding: 0;
    border: 0;
    outline: none;
    background: #333333 url("../img/close-btn.svg") left center no-repeat;
    background-size: 1.875em 1.875em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
    background-image: url("../img/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
#nav:target .close-btn {
    display: block;
}
*/
.nav {
    overflow: hidden;
    background: rgba(155, 155, 155, 0.5);
    position: absolute;
    top: 0;
    
    a, li {
        color: $light-gray;
    }
    
    .name {
        max-width: 333px; // upper boundary for desktop view
        font-weight: normal;
        color: $light-gray;
        margin: 0;
        padding: 0.8em 1em;
        @include adjust-font-size-to(18px, 0.75);
        
        a {padding: 0; }
        
        &:before { @include adjust-font-size-to(30px, 0); }
    }
    
    ul {
        max-width: 333px; // upper boundary for desktop view
        *zoom: 1;
        border-bottom: 1px #dedede solid;
    }
    
    li {
        border-top: 1px $light-gray solid;
        border-bottom: 1px $black solid;
        text-shadow: 0 -1px 0 #333;
    }
    
    li:first-child,
    li:nth-child(7),
    li:nth-child(8) {
        @include adjust-font-size-to(12px);
        text-transform: uppercase;
        background: rgba(20,20,20,0.5);
    }
    
    li:first-child {
        padding: .25em 1em;
    }
    
    a {
        padding: .25em 1em;
    }
    
    ul {
//        @include block-grid(1, $base-style: false);
    }
}


#nav ul {
      /*
*zoom: 1;
      display: block;
*/
}

#nav li {
/*     display: block; */
}
#nav li a {
    display: block;
/*
    color: #ccc;
    font-size: 0.875em;
    line-height: 1.28571em;
    font-weight: bold;
    outline: none;
*/

}
#nav li a:focus, #nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
#nav li.is-active a {
/*     color: #fff; */
}

#nav li {
/*
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
*/
}
#nav li:last-child {
/*     border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}
#nav li.is-active:after { // TRIANGLES
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid;
}


.js-ready #page {
    left: 0;
}

.js-nav #page {
    left: 70%;
}

.main {
    @include grid-row;
}

.profile-container {
    @include grid-column(12);
}

.great-wall {
    @include grid-column(12);
    @include teeth;
    @include box-shadow(-1em -0.7em 1em -0.4em rgba(0,0,0,.25));
    margin-top: 1em;
}

.post {
/*     @include grid-row(nest); */
    @include panel($padding:1em 0 0 0);
    @include shadow;
//    @extend .section-container;
    margin: 0 auto 1em;
    position: relative;
    clear: both;
    
    .author {
        @include grid-row;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 1em;
        
        .question {
            position: absolute;
            right: 10px;
            top: -5px;    
        }
    }
    
    .photo {
        @include grid-column(3.5);
    }
    
    .info {
        @include grid-column(8.5, $collapse: true);
        
        h4 {
            color: $purple;
            @include adjust-font-size-to(16px, .5);
            margin-top: 0;
            margin-bottom: .7em;
        }

        span {
            @include timestamp;
            margin-bottom: 1em;
        }
    }

    
    .post-content {
        @include grid-row;
        padding-top: 0.5em;
        
        p { 
            @include grid-column(12); 
            margin-bottom: 0.5em;
        }
        
        .media-container {
            @include grid-column(12);
        }
        
        .post-img { 
            @include grid-row(nest);
            padding: 0 .5em;
            text-align: center;
            
            img {
                @include shadow;
            }
        }
    }
    
    .comments {
//        @extend .section;
        border-top: 1px solid $light-gray;
        
        .controls {
            @include background-image(linear-gradient(rgba(255,255,255,0.0), #dedede));
            @include grid-row(collapse);
            
            // COMMENT-ICON IS DEFINED IN _SETTINGS, BUT GRIDS ARE DEFINED AFTER _SETTINGS IS LOADED
            // SO WE'RE CALLING GRID COLUMNS HERE.
            
            .comment-icon {
                @include grid-column(2.5, $push: 9.5);
                  
                span {
                    display: inline-block;
                    color: $primary-color;
                    @include adjust-font-size-to(14px, 1);
                    font-weight: bold;
                    vertical-align: middle;
                    height: 16px;
                    position: relative;
                    left: 5px;
                }
            }
            
            .most-recent {
                @include grid-column(9.5, $pull: 2.5);
                @include adjust-font-size-to(12px, .5);
                padding-top: .5em;
                padding-bottom: .5em;
                
                * {display: inline;}
                
                a { display: inline; padding: 0; color: $purple; }
                a:hover { text-decoration: underline; }
                
                p {
//                    @include adjust-font-size-to(22px, .1);
                    margin: .75em 0;
                    
                }
                
                span { 
                    @include timestamp;
                    @include adjust-font-size-to(18px, .5);
                }
            }
            
            .comment {
                margin-bottom: 0;
            }               
        }
        
        .comment-feed {
//            @extend .content;
            background: none;
            
            .comment:first-child { //override foundation defaults
                padding-top: .25em;
            }
        }
    }
}

.comment {
    @include grid-row;
    background: $light-gray;
    padding: .25em .1em;
    margin-bottom: .25em;
    
    .user-img { 
        @include grid-column(2);
        padding: 0 .25em;
    }
    .comment-text { 
        @include grid-column(10);
        padding: 0 .1em;
        @include adjust-font-size-to(12px, .5);
        
        h4 { 
            float: left; 
            margin: 0;
            
            a { vertical-align: text-top;}
        }
        
        p {
            @include adjust-leading-to(.9);
            margin-bottom: 0;
        }
        span { @include timestamp; }
    }
    a {
        display: inline;
        padding: 0;
        color: $purple;
    }
}

.new-comment {
    @extend .comment;
    
    //.user-img { @include grid-column(1.5); }
    .comment-text { 
        @include grid-column(8, $collapse: true); 
        input { @include adjust-font-size-to(14px, .6); }
    }
    .submit-comment { 
        @include grid-column(2);
        padding: 0 .1em;
        text-align: right;
        
        input {
            @include adjust-font-size-to(12px, .6);
            padding: .5em 1em;
            margin: 0;
            color: $purple;
            @include background-image(linear-gradient(#fff #d0d0d0));
    
            &:active,
            &.open {
                color: $black;
                @include background-image(linear-gradient(#d0d0d0, #fff));
                border-color: $black;        
            }
        }    
    }
}

.full-profile
/* .edit-profile */ { // nested within .page on your-profile.php
    @include grid-column(8, $push: 4);
    @include teeth;
    margin-top: 1em;
    margin-bottom: 1em;
    
    .profile-header {
        @include grid-row(collapse);
        position: relative;
        
        .user-img {
            @include grid-column(4, $collapse: true);
            height: 94px;
//            background: url(../img/juan-marin_profile_94px.jpg) no-repeat;
            
            img {
                @include shadow;
                width: 94px; // USE CHANNEL IMAGES TO RESIZE IMAGES AND DELETE THIS STYLE
            }
            
            .size {
                @include adjust-leading-to(1.5);
            }
        }
        
        .name {
            @include grid-column(8, $collapse: true);
            height: 94px;
            /*
position: absolute;
            left: 110px;
*/
            
            
            h4 {
                margin: 0;
                @include adjust-font-size-to(16px, .65);
            }
            
            h4:before {
                color: #999;
                margin-right: .25em;
                @include adjust-font-size-to(26px, 0);
            }
        }
    }

    .profile-details { // all profile components
        @include grid-row(nest);
        position: relative;
        padding-top: .25em;
        margin-top: 0.5em;
        margin-left: 0;
        margin-right: 0;
        border-top: 1px solid $light-gray;
        
        h4 {
            @include grid-column(6);
            @include adjust-font-size-to(14px, .65);
            margin: 0.5em 0;
        }   
        
        .interests {
            background: white;
            padding-top: 1em;
            margin-top: 0.5em;
            @include shadow;
        }
    }
    
    .interests {
        @include grid-column(12);
    }
    
    b { @include grid-column(12, $collapse: true); margin-top: 1em;}
    
    .button-wrapper {
        margin-bottom: 0.25em;
    }
} 

.profile-info {
    @include grid-column(12);
    @include shadow;
    margin: 0.5em 0;
    
    
    th,
    label {
        text-align: left;
        color: #bbb;
        font-weight: bold;
    }
    
    td {
        text-align: right;
        font-weight: bold;
    }
    
    tr {
        border-bottom: 1px solid $light-gray;
    }
    
    tr:last-child {
        border-bottom: none;
    }   
}

.recent-activity {
    @include grid-column(12);
    @include teeth;
}

.new-post {
    @include grid-column(12);
    background: rgba(255,255,255,0.8);
    padding-top: 1em;
    text-align: right;
    
    .preview { @include grid-row(nest); margin-bottom: 1em; }
    .thumb { @include grid-column(4); }
    .size { @include grid-column(8); text-align: left; }
    button {display: block; margin-top: 1em; margin-bottom: 0;}
        
    textarea {
        resize: none;
        height: inherit;
        margin-bottom: 0;
    }
    
    .upload-buttons {
        @include grid-row(nest-collapse);
        @include purple-gradient;
        border: 1px solid $black;
        
        > div { 
            @include grid-column(4, $collapse: true); 
            border-right: 1px solid $black;
            cursor: pointer;
            
            &:last-child {
                border-right: none;
            }
        }
        
        .post-button {
/*
            cursor: pointer;
            position: relative;
            display: block;
            text-align: center;
            @include adjust-font-size-to(35px, 1);
            color: white;
            height: 30px;
            
            &.disabled { 
                @include disabled;
            }
            
            &:before { font-weight: normal; }
            
            a {
                cursor: default;

            }
*/
        }
    }

    .question-wrapper {
        margin: 1em 0;
        
        .question {
            display: inline-block;
            position: relative;
        }
        
        input {
            position: absolute;
            top: 50%;
            left: -75%;
            margin-top: -10px;
        }
    }
    
    .post {
        padding-left: 1em;
        padding-right: 1em;
    }
    
}



.rotate90 {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rotate180 {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rotate270 {
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.comment-form {
    text-align: right;
}

/*
.edit.profile-details,
.new-post,
.comment-form {
    h4,
    label,
    input[type="text"] {
        @include grid-column(12);
    }
    
    form {
        text-align: right;
    }
    
    label {
        margin: .5em 0 1em;
    }
    
    input[type="text"] {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}
*/

.profile-setup {
    @extend .full-profile;
    
    .profile-header {
        .user-img {
            width: auto;
            height: auto;
            img { width: auto;}
        }
        .name {
            height: auto;
            margin-top: 1em;
        }
    }
    
    .edit-photo {
        float: left;
    }
}

.step-one > b { float: right; }

.to-do { text-align: center; }

.setup > b {
    @include grid-column(6, $push: 6);
    text-align: right;
    position: relative;
    top: 40px;
    margin-bottom: 1em;
}

b.disabled {
    @include disabled;
}

.student-list {
    margin-top: 1em;
    padding: 1em;
    @include teeth;
    
    .row {
        margin-bottom: 1em;
        @include panel($padding:1em 0);
        @include shadow;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        .name {
            border-bottom: 1px $medium-gray solid;
            display: block;
            margin-top: .75em;
            padding-bottom: 1em;
        }
        
        .columns {
            
            margin-top: 1em;
            
            &:first-child {
                margin-top: 0;
            }
            
            &:last-child {
                .name { border-bottom: none; padding-bottom: 0; }
            }
        }
    }
}


@media #{$small} {
    .page {
        position: static;
    }
    
    .global .menu-btn,
    .global .post-btn {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    .global { position: fixed;}
    
    .nav {
        @include grid-column(4, $collapse: true);
        float: left;
        position: fixed;
        background: none;
        margin-top: 4em;
        @include adjust-font-size-to(18px);
        
/*
        position: relative;
        padding-top: 0;
*/
    }
    
    /*
#nav .close-btn {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
*/
    
    .nav ul {
        list-style: none;
/*
        text-align: center;
        white-space: nowrap;
        @include block-grid(5, $base-style: false);
*/
    }
    .nav li {
//        display: inline-block;
//        padding: 0.42857em 0.85714em;
//        border-right: 1px solid rgba(255, 255, 255, 0.1);
//        border-top: none;
    }
    .nav li:last-child {
//        border: none;
    }
    
    .drop {
//        max-width: 500px;
    }
    
/*
    .profile-container { // contains the profile on the great wall
        @include grid-column(2.75, $pull: 9);
        margin-top: 1em;
    }
*/
    
    .great-wall {
        @include grid-column(8, $push: 4);
        margin-top: 4em;
        
        .new-post {
            @include panel;
            @include grid-row(collapse);
            @include background-image(linear-gradient(rgba(255,255,255,0.0), #dedede));
            padding: 0; 
            margin-bottom: 1em;
            
            .preview { margin-bottom: 0; }
            .post-form {
                @include grid-column(12, $collapse: true);
                
                .post-text {
                    @include adjust-font-size-to(18px);
                    margin-bottom: 0;
                    height: 4em;
                    background: none;
                    border: none;
                    padding: 0 1em;
                    border-bottom: 1px solid $light-gray;
                }
                
                .post-inputs {
                   border: none;
                }
                
                .upload-buttons { 
                    @include grid-column(4, $collapse: true); 
//                    margin-top: 5px;
                    background: none;
                    border: none; 
                    
                    > div {
                        @include grid-column(4, $collapse: true);
                        border: none;
                        
                        &.disabled {
                            cursor: not-allowed;
                            
                            .attach-media {
                                color: $medium-gray;
                            }
                            
                        }
                    }
                }
                
                .attach-media { 
                    border-right: 1px solid $light-gray;
                    color: $purple; 
                   // text-align: left;
                    @include adjust-font-size-to(55px, 1.3);
                    padding-top: .1em;
                    padding-bottom: .2em;
                    
                    &:active { color: $light-gray; }
                    //&:last-child { border: none; }
                }
                
                .question-wrapper { 
                    @include grid-column(1); 
                    margin: 0; 
                    text-align: left;
                    
                    .question:after { display: none; }
                    input { display: none; }    
                }
                
                .submit-post { 
                    margin: .5em;
                    padding: 8px 20px;    
                }
            }
        }
    }

    .post {
        .user-img {
            @include grid-column(2);
            height: auto;
        }
        .status {
            //@include grid-column(10);
        }
        .photo {
            @include grid-column(1.5);
        }
        .info {
            @include grid-column(10.5);
        }            
    }
    
    .full-profile {
        .profile-header {
            @include grid-column(4);
            
            .user-img,
            .name {
                @include grid-row(nest-collapse);
            }
            
            .user-img {
                float: none;
                height: auto;
                
                img { width: auto; } // USE CHANNEL IMAGES TO RESIZE IMAGES AND DELETE THIS STYLE
            }
            
            .name {
                position: static;
                margin-top: 1em;
                @include adjust-font-size-to(20px, 1);
            }
            
            .edit-photo {
            }
        }
        
        .profile-details{
            @include grid-column(8);
        } 
    }
    
    .student-list .row {
        .columns { margin-top: 0; }
        .name { border-bottom: none; padding-bottom: 0; }
    }
    
    .question-input {
        left: 0;
    }

       
}

@media screen and (max-width: 48em) {

    .global h1 { 
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .nav:not(:target) {
        z-index: 1;
        height: 0;
    }
    .js-ready .nav {
        height: 100%;
        width: 70%;
        @include box-shadow(inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25));
    }
    .js-ready .nav .close-btn {
        display: block;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }
    .js-ready .nav .close-btn:focus, .js-ready #nav .close-btn:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
    .js-ready .nav .block {
        background: transparent;
    }
    
    .js-ready .nav {
        left: -70%;
    }
    
    .csstransforms3d.csstransitions.js-ready #top {
       -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);    
    }
    
    .csstransforms3d.csstransitions.js-ready #nav {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .csstransforms3d.csstransitions.js-ready #page {
        left: 0 !important;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .csstransforms3d.csstransitions.js-nav #page {
        -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    }
    
    .csstransforms3d.csstransitions.js-ready #nav .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
        -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
        -webkit-transition-delay: ease, 0s;
        -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
        -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
        transition: opacity 300ms 100ms ease, transform 500ms ease;
        -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -o-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    
    .csstransforms3d.csstransitions.js-nav #nav .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    .great-wall .new-post {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    .new-post .disabled {
    
        @include disabled;        
        a:hover { color: $white;; }
    }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    
    body {
        background: #2e2e2e url(../img/pinstripes-black@2x.png) repeat;
        background-size: 21px 26px;
    }
    
    body.profile {
        background: #ccc url(../img/pinstripes-white@2x.png) repeat;
        background-size: 21px 26px;
    }
    
    .global {
        background: $primary-color url(../img/header-pattern@2x.png) repeat -2px -3px;
        background-size: 15px 15px;
    }
    
    .ribbon {
        background: url(../img/header-ribbon@2x.png) no-repeat;
        background-size: 27px 41px;
    }   
    
    .notifications-icon {
        background: url(../img/activity@2x.png) no-repeat;
        background-size: 17px 16px;
    }
    
    .actions-icon {
        background: url(../img/action@2x.png) no-repeat;
        background-size: 16px 16px;
    }
    
    .question {
        background: url(../img/question@2x.png) no-repeat;
        background-size: 27px 51px;
    }	
    .comment-icon:before {
        background: url(../img/comment-icon@2x.png) no-repeat;
        background-size: 17px 16px;
    }
    
    .profile-header .user-img {
//        background: url(../img/juan-marin_profile_@2x.jpg) no-repeat;
        background-size: 94px 94px;
    }
    
    .profile-setup {
        .user-img {
            background: url(../img/profile-setup@2x.jpg);
            background-size: 94px 94px;
        }
    }
    
    .drop li:not(:first-child):before {
        background-image: url(../img/purple-flower@2x.png) no-repeat;
        background-size: 27px 27px;
    }

}