{embed='includes/header' loc="profile"}

        <div class="white-stripes">
            <section class="full-profile">
            <!-- all profiles are contained in .full-profile -->
            
                {if segment_2=='' || segment_2==logged_in_member_id}
                {exp:user:edit dynamic='off' override_return='profile/index' return='profile/index'  password_required='n' }
                <div class="profile-header clearfix">
                    <!-- takes up the left column on larger screens, stacks on smaller screens -->
                    <div class="user-img" id="preview">
                        {if photo_filename}
    	                <img src="{photo_url}{photo_filename}" />
    	                {if:else}
    	                <img src="http://placehold.it/94x94&text=NO PHOTO">
    	                {/if}
    	                <span id="size" class="size"></span>
                    </div> <!-- .user-img -->
                    <div class="name">
                        <h4 data-icon="👤">{screen_name}</h4>
                        <a href="#" class="edit-photo visuallyhidden" data-icon="📷" id="profile-select"><span class="visuallyhidden">Edit Your Profile Photo</span></a>
                        <input accept="image/*" class="photo-input" id="photo-input" name="photo_filename" type="file">
                    </div> <!-- .name -->
                </div> <!-- .profile-header -->
       
                <section class="profile-details">
                    <h4>Living</h4>
                    <a href="#" class="edit-details" data-icon="✎" id="edit-details"><span class="visuallyhidden">Edit Profile</span></a>
                    <div class="info" id="info">
                        <table class="profile-info">
                            <tbody>
                                <tr>
                                    <th scope="rowgroup">Hometown</th>
                                    <td class="data">{location}</td>
                                </tr>
                                
                                <tr>
                                    <th scope="rowgroup">Current City</th>
                                    <td class="data">{occupation}</td>
                                </tr>
                            </tbody>
                        </table> <!-- .profile-info -->
                        <h4>Interests</h4>
                        <div class="interests">
                            <p>{interests}</p>
                        </div> <!-- .interests -->
                    </div> <!-- .info -->
                    
                    <div class="form visuallyhidden" id="form">
                        <table class="profile-info">
                            <tbody>
                                <tr>
                                    <th scope="rowgroup">Hometown</th>
                                    <td class="data"><input name="location" placeholder="e.g. London, UK" value="{location}" type="text"></td>
                                </tr>
                                
                                <tr>
                                    <th scope="rowgroup">Current City</th>
                                    <td class="data"><input name="occupation" placeholder="e.g. Shanghai, China" value="{occupation}" type="text"></td>
                                </tr>
                            </tbody>
                        </table> <!-- .profile-info -->
                        <h4>Interests</h4>
                        <div class="interests">
                            <textarea id="interests" name="interests" placeholder="Tell your classmates what you're into..." value="{interests}">{interests}</textarea>
                        </div> <!-- .interests -->
                        <b><input class="approve" name="next" id="submit" type="submit" value="Submit"></b>
                    </div> <!-- .form -->
                </section> <!-- .profile-details -->
                {/exp:user:edit}  
        
                {if:else}
                {exp:user:stats}
                <div class="profile-header clearfix">
                    <!-- takes up the left column on larger screens, stacks on smaller screens -->
                    <div class="user-img">
                        {if photo_filename}
    	                <img src="{photo_url}{photo_filename}" />
    	                {if:else}
    	                <img src="http://placehold.it/94x94&text=NO PHOTO">
    	                {/if}
                    </div> <!-- .user-img -->
                    <div class="name">
                        <h4 data-icon="👤">{screen_name}</h4>
                    </div> <!-- .name -->
                </div> <!-- .profile-header -->
       
                <section class="profile-details">
                    <h4>Living</h4>
                    <table class="profile-info">
                        <tbody>
                            <tr>
                                <th scope="rowgroup">Hometown</th>
                                <td class="data">{location}</td>
                            </tr>
                            
                            <tr>
                                <th scope="rowgroup">Current City</th>
                                <td class="data">{occupation}</td>
                            </tr>
                        </tbody>
                    </table> <!-- .profile-info -->
                    <h4>Interests</h4>
                    <div class="interests">
                        <p>{interests}</p>
                    </div> <!-- .interests -->
                </section> <!-- .profile-details -->
                {/exp:user:stats}
                {/if}
                
            </section> <!-- .full-profile -->
            
            <section class="recent-activity">
                <!-- Recent activity. Identical structure to the Great Wall. A .post container contains 1 .post-header div and 1 .content div. 0 or more .comment divs may be nested within .content -->
                <h3>Recent Activity</h3>
                <!--See profile Status-->
                {!--if segment_2==''--}
    	        	{!--embed='includes/status-profile' member_id='{logged_in_member_id}'--}
    	        {!--if:else--}
    	        	{embed='includes/status-profile' member_id='{segment_2}'}
    	        {!--/if--}
            </section> <!-- .recent-activity -->
        </div> <!-- .white-stripes -->


{embed='includes/footer'}