{embed='includes/header'}


        <section class="full-profile">
        <!-- all profiles are contained in .full-profile -->
        
        {if segment_2=='' || segment_2==logged_in_member_id}    
        {exp:user:edit dynamic='off' override_return='profile/index' return='profile/index'  password_required='n' }
            <div class="profile-header clearfix">
                <!-- takes up the left column on larger screens, stacks on smaller screens -->
                <div class="user-img">
                    {if photo_filename}
	                <img src="{photo_url}{photo_filename}" />
	                {if:else}
	                <img src="http://placehold.it/94x94&text=NO PHOTO">
	                {/if}
                </div> <!-- .profile-photo -->
                <div class="name">
                    <h4 data-icon="👤">{screen_name}</h4>
                </div> <!-- .name -->
                <a href="#" class="edit-photo" data-icon="📷" id="edit-photo"><span class="visuallyhidden">Edit Photo</span></a>
            </div> <!-- .profile-header -->
   
            <section class="profile-details">
                <h4>Living</h4>
                <a href="#" class="edit-details" id="edit-details"  data-icon="✎"><span class="visuallyhidden">Edit Interests</span></a>
                <table class="profile-info">
                    <tbody>
                        <tr>
                            <th scope="rowgroup">Hometown</th>
                            <td class="data"><input name="location" value="{location}"></td>
                        </tr>
                        
                        <tr>
                            <th scope="rowgroup">Current City</th>
                            <td class="data"><input name="occupation" value="{occupation}"></td>
                        </tr>
                    </tbody>
                </table>
                <h4>Interests</h4>
                <div class="interests">
                    <p><input name="interests" value="{interests}"></p>
                </div> <!-- .interests -->
            </section> <!-- .profile-details takes up the right column on large screens, stacks on smaller screens-->
        {/exp:user:edit}  
        
        {if:else}
        {exp:user:stats}
            <div class="profile-header clearfix">
                <!-- takes up the left column on larger screens, stacks on smaller screens -->
                <div class="user-img">
                    {if photo_filename}
	                <img src="{photo_url}{photo_filename}" />
	                {if:else}
	                <img src="http://placehold.it/94x94&text=NO PHOTO">
	                {/if}
                </div> <!-- .profile-photo -->
                <div class="name">
                    <h4 data-icon="👤">{screen_name}</h4>
                </div> <!-- .name -->
            </div> <!-- .profile-header -->
   
            <section class="profile-details">
                <h4>Living</h4>
                <table class="profile-info">
                    <tbody>
                        <tr>
                            <th scope="rowgroup">Hometown</th>
                            <td class="data">{location}</td>
                        </tr>
                        
                        <tr>
                            <th scope="rowgroup">Current City</th>
                            <td class="data">{occupation}</td>
                        </tr>
                    </tbody>
                </table>
                <h4>Interests</h4>
                <div class="interests">
                    <p>{interests}</p>
                </div> <!-- .interests -->
            </section> <!-- .profile-details takes up the right column on large screens, stacks on smaller screens-->
        {/exp:user:stats}
        {/if}
        </section> <!-- .full-profile -->
        
        <section class="recent-activity">
            <!-- Recent activity. Identical structure to the Great Wall. A .post container contains 1 .post-header div and 1 .content div. 0 or more .comment divs may be nested within .content -->
            <h3>Recent Activity</h3>
            <!--See profile Status-->
	        {embed='includes/status-profile'}

            <!-- End Feed Entry -->
        </section>


{embed='includes/footer'}