{if segment_2=='' || segment_2==logged_in_member_id}
{embed='includes/header' loc="profile"}
{if:else}
{embed='includes/header'}
{/if}
        <div class="white-stripes">
            <section class="full-profile">
            <!-- all profiles are contained in .full-profile -->
            
                {if segment_2=='' || segment_2==logged_in_member_id}
                {exp:user:edit dynamic='off' override_return='profile' return='profile'  password_required='n' form:name="profile-form" form:id="profile-form"}
                <div class="profile-header clearfix">
                    <!-- takes up the left column on larger screens, stacks on smaller screens -->
                    <div class="user-img" id="preview">
    	               <img src="{photo_url}{photo_filename}?<?php echo time(); ?>" />
    	               <div class="thumb" id="thumb"></div> <!-- .thumb -->
    	               <div class="specs" id="specs"></div> <!-- .specs -->
    	               <div class="profile-select-wrapper">
                            <input accept="image/*" class="photo-input visuallyhidden" id="profile-input" name="photo_filename" type="file">
                            <a href="#" class="edit-photo visuallyhidden" id="profile-select"><span class="visuallyhidden">Edit Your Profile Photo</span></a>
                        </div> <!-- .profile-select-wrapper -->
                    </div> <!-- .user-img -->
                    <div class="profile-right">
                        <div class="name">
                            <h4>{screen_name}</h4>
                        </div> <!-- .name -->
                    </div> <!-- .profle-right -->
                </div> <!-- .profile-header -->
       
                <section class="profile-details">
                    <h4>Living</h4>
                    <a href="#" class="edit-details" id="edit-details"><span class="visuallyhidden">Edit Profile</span></a>
                    <div class="info" id="info">
                        <table class="profile-info">
                            <tbody>
                                <tr>
                                    <th scope="rowgroup">Hometown</th>
                                    <td class="data">{location}</td>
                                </tr>
                                
                                <tr>
                                    <th scope="rowgroup">Current City</th>
                                    <td class="data">{occupation}</td>
                                </tr>
                            </tbody>
                        </table> <!-- .profile-info -->
                        <h4>Interests</h4>
                        <div class="interests">
                            <p>{interests}</p>
                        </div> <!-- .interests -->
                    </div> <!-- .info -->
                    
                    <div class="form visuallyhidden" id="profile-fields">
                        <table class="profile-info">
                            <tbody>
                                <tr>
                                    <th scope="rowgroup">Hometown</th>
                                    <td class="data"><input name="location" placeholder="e.g. London, UK" value="{location}" type="text"></td>
                                </tr>
                                
                                <tr>
                                    <th scope="rowgroup">Current City</th>
                                    <td class="data"><input name="occupation" placeholder="e.g. Shanghai, China" value="{occupation}" type="text"></td>
                                </tr>
                            </tbody>
                        </table> <!-- .profile-info -->
                        <h4>Interests</h4>
                        <div class="interests">
                            <textarea id="interests" name="interests" placeholder="Tell your classmates what you're into..." value="{interests}">{interests}</textarea>
                        </div> <!-- .interests -->
                        <b><input class="approve" name="next" id="submit" type="submit" value="Save"></b>
                    </div> <!-- .form -->
                </section> <!-- .profile-details -->
                {/exp:user:edit}  
        
                {if:else}
                {exp:user:stats}
                <div class="profile-header clearfix">
                    <!-- takes up the left column on larger screens, stacks on smaller screens -->
                    <div class="user-img">
    	                <img src="{photo_url}{photo_filename}?<?php echo time(); ?>">
                    </div> <!-- .user-img -->
                    <div class="profile-right">
                        <div class="name">
                            <h4>{screen_name}</h4>
                        </div> <!-- .name -->
                    </div> <!-- .profile-right -->
                </div> <!-- .profile-header -->
       
                <section class="profile-details">
                    <h4>Living</h4>
                    <table class="profile-info">
                        <tbody>
                            <tr>
                                <th scope="rowgroup">Hometown</th>
                                <td class="data">{location}</td>
                            </tr>
                            
                            <tr>
                                <th scope="rowgroup">Current City</th>
                                <td class="data">{occupation}</td>
                            </tr>
                        </tbody>
                    </table> <!-- .profile-info -->
                    <h4>Interests</h4>
                    <div class="interests">
                        <p>{interests}</p>
                    </div> <!-- .interests -->
                </section> <!-- .profile-details -->
                {/exp:user:stats}
                {/if}
                
            </section> <!-- .full-profile -->
            
            <section class="recent-activity">
                <!-- Recent activity. Identical structure to the Great Wall. A .post container contains 1 .post-header div and 1 .content div. 0 or more .comment divs may be nested within .content -->
                <h3>Recent Activity</h3>
                <!--See profile Status-->
    	        	{embed='includes/status-profile' member_id='{segment_2}' }
            </section> <!-- .recent-activity -->
        </div> <!-- .white-stripes -->


{embed='includes/footer'}
