{embed='includes/header' loc="students"}

        <section class="student-list">
        	
        	{if segment_2}
	            {exp:channel:entries channel="actions" limit="1" entry_id='{segment_2}'}
				 <div class="student">
	                <div class="name">
	                    <h3>{title}</h3>
	                    <p>{description}</p>
	                </div>
	             </div> <!-- .student -->    
			    {/exp:channel:entries}
			{/if}
			
    	    {embed="includes/new-post" action_id="{segment_2}"}
    	   
    	   	{if segment_2}
				
    	   		{embed="includes/member-list-action"}
				
    	    {if:else}
    	   
				{embed="includes/member-list"}
            
            {/if}
            
        </section>
    </div> <!-- #main --> 
{embed='includes/footer'}