{embed='includes/header'}


{exp:user:stats dynamic="off" member_id="{segment_3}"}
        <section class="full-profile">
        <!-- all profiles are contained in .full-profile -->
            
            <div class="profile-header clearfix">
                <!-- takes up the left column on larger screens, stacks on smaller screens -->
                <div class="user-img">
		            {if photo_filename}
	                	<img src="{photo_url}{photo_filename}">
	                {if:else}
	                	<img src="http://placehold.it/300x240&text=[PROFILE]" />
	                {/if}    
                </div> <!-- .profile-photo -->
                <div class="name">
                    <h4>{screen_name}</h4>
                </div> <!-- .name -->

            </div> <!-- .profile-header -->
                
            <section class="profile-details">
                <h4>Living</h4>
                <table class="profile-info">
                    <tbody>
                        <tr>
                            <th scope="rowgroup">Hometown</th>
                            <td class="data">{location}</td>
                        </tr>
                        
                        <tr>
                            <th scope="rowgroup">Current City</th>
                            <td class="data">{occupation}</td>
                        </tr>
                    </tbody>
                </table>
                <h4>Interests</h4>
                <div class="interests">
                    <p>{interests}</p>
                </div> <!-- .interests -->
                
                <h4>Status</h4>
            	<div class="interests">
	                {exp:friends:members member_id="{segment_3}"} 
					    <p>
					        {if friend == "y"}
					            {if friends_reciprocal == "y"}
					                (already friends)
					            {if:else}
					                (invited)
					            {/if}
					        {if:else}
					            <a href="{path='member-list/add'}/{friends_member_id}/">
					                Add to Friends
					            </a>
					        {/if}
					    </p>
					{/exp:friends:members} 
            	</div>  
            </section> <!-- .profile-details takes up the right column on large screens, stacks on smaller screens-->
        
        </section> <!-- .full-profile -->
{/exp:user:stats}       
        
        <section class="recent-activity">
            <!-- Recent activity. Identical structure to the Great Wall. A .post container contains 1 .post-header div and 1 .content div. 0 or more .comment divs may be nested within .content -->
            
            <h3>Recent Activity</h3>
            
            <!--See profile Status-->
	        {embed='includes/status-profile' id_member='{segment_3}'}

            <!-- End Feed Entry -->
        </section>


{embed='includes/footer'}