# System Files
.DS_Store
.htaccess
.sass-cache/
.bak/
assets/

# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/
images/media_images/
images/media_audio/
images/media_videos/

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
codekit-config.json

# EE Files 
nyusocial/
pma/
themes/
assets/
cms.php
index.php
uploads/
# images/
