{embed='includes/header'}

<section class="new-post">

	{if segment_4!='flag'}
	<form action="{site_url}content/poststatus/{logged_in_member_id}/flag" method="post" enctype="multipart/form-data">
	<textarea id="post" name="friends_status" placeholder="Show, tell, or ask." rows="8"></textarea>

                            <div class="media">
                                <div class="post-button photo" id="photo">
                                    <a href="#" rel="ignore" data-icon="📷">
                                        <span class="visuallyhidden">Upload an Image</span>
	                                    <input type="file" accept="image/*" id="media_images" name="media_images" value="image">
                                    </a>
                                </div>
                                <div class="post-button video">
                                    <a href="#" rel="ignore" data-icon="🎬">
                                        <span class="visuallyhidden">Upload a Video</span>
                                        <input type="file" accept="video/*" name="media_video" value="video">
                                    </a>
                                </div>
                                <div class="post-button audio">
                                    <a href="#" rel="ignore" data-icon="♫">
                                        <span class="visuallyhidden">Upload an audio file</span>
                                        <input type="file" accept="audio/*" name="media_audio" value="audio">
                                    </a>
                                </div>
                            </div>
                            <div class="question">
                                <input type="checkbox" name="question" value="1" id="question">
                            </div>	
	
	<input type="submit" value="Post" id="post" class="post" >
	</form>
	{/if}
	
	{if segment_4=='flag'}
	{exp:status_updates author_id='{segment_3}' date_of_entry='{current_time}'}
	
	<p>Your Status was updates</p>
	
	{/if}
	