<script src="https://shanghai.nyu.edu/introductions/js/jquery.js"></script>

	<?php
	// $_POST['eppn'] = '';

	// uncomment to enable if POST				
	if (isset($_SERVER['eppn']) && !empty($_SERVER['eppn']) ) {
		// ) {
	?>
{exp:ajax_form class="Member" method="member_login"}
<div style="display:hidden">
<form id="loginForm" method='post' action='{post_url}'>
<input type='hidden' name='XID' value='{xid}' />
<input type='hidden' name='ACT' value='{action_id}' />
<input type='hidden' id='username' name='username' value="<?php echo $_SERVER['eppn']; ?>" />
<input type='submit' value='Login' id='btnLogin' style="display:none;" />
</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	
	//$("#btnLogin").click(function(){
	$("#loginForm").submit(function(e){
		e.preventDefault();	
		console.log('submitted');
		$.ajax({
		  type: "POST",
		  url: "{post_url}",
		  data: $("#loginForm").serializeArray()
		}).done(function( msg ) {
			// console.log(msg);
			 var v = msg.charAt(0);
			if (msg.match(/You are now logged in/g)) {
				if (v == 1){
					window.location='{site_url}'; // normal login
				} else if (v == 2) {
					window.location='{path="setup/step-one"}'; // new user created or photo not present : {member_id}
				} 
			} else {
				if (v == 0){
					window.location='https://shanghai.nyu.edu/introductions_error/?error_value=200'; // ERROR - user not in approved list
				} else {
					window.location='https://shanghai.nyu.edu/introductions_error/?error_value=100'; // general error
				}
			}
		});		

	}); // end click

if ($('#username').val() != '') {
	$("#btnLogin").click();
} 

});
</script>
{/exp:ajax_form}
<?php
		} else {
			die('No SSO token!');
		}
// uncomment to enable if POST
?>
