{exp:user:register return="profile/index"}
 
    <p>
    <label>Email Address:</label><br>
    <input type="text" name="email" />
    </p>
 
    <p>
    <label>Username:</label><br>
    <input type="text" name="username" />
    </p>
    
    <p>
    <label>Name:</label><br>
    <input type="text" name="screen_name" />
    </p>
 
    <p>
    <label>Password:</label><br>
    <input type="password" name="password" />
    </p>
 
    <p>
    <label>Confirm Password:</label><br>
    <input type="password" name="password_confirm" />
    </p>
 
    <p>
    <input type="checkbox" name="accept_terms" value="y" />
    <label>Accept Terms?</label>
    </p>
 
    <p><input type="submit" value="Submit" /></p>
 
{if no_results} 
You are currently logged in and not allowed to view this form. 
{/if}
 
{/exp:user:register}